{% extends "smartmemo/base.html" %}

{% block title %}
ログイン
{% endblock %}

{% block content %}

<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card login-card">

                <div class="card-body">

                    <h2 class="login-title">
                        SmartMemo
                    </h2>

                    <p class="login-subtitle ">
                        Welcome Back!
                    </p>

                    <form method="post">

                        {% csrf_token %}

                        {{ form.as_p}}

                        <button type="submit" class="btn btn-primary btn-login">
                            ログイン
                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}